nav {
  background-color: #1f1f1f;
  color: #ffffff;
  width: 250px; 
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  /*overflow-y: auto;*/
	overflow-y: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%; 
	justify-content: flex-start;
}

nav li {
  padding: 10px;
  text-align: center; 
}

.nav-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -0.2em;
	margin-left: 2.5em;
	margin-left: 55px;
}

.nav-separator {
  width: 80%;
  height: 1px;
  background-color: #ffffff;
  margin: 1em;
	margin-left: 25px;
}

.nav-category {
  color: #8e8ea0;
  font-weight: bold;
	font-size: 0.750em;
	float: left;
	margin-bottom: 1.5em;
	margin-left: 15px;
}

.nav-button1, .nav-button2, .nav-button3 {
  background-color: #3c3c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%; 
	margin-left: 15px;
  transition: background-color 0.3s ease; 
	--clr:#b1eee6;
}

.nav-button1:hover {
  background-color: #4ed895; 
	letter-spacing: 0.05em;
	box-shadow: 0 0 35px var(--clr);
}

.nav-button2:hover {
  background-color: #3279d5; 
	box-shadow: 0 0 35px var(--clr);
}

.nav-button3:hover {
  background-color: #d24e4e;
	letter-spacing: 0.05em;
	box-shadow: 0 0 35px var(--clr);
}

/* Autor */

.autor {
	background-color: #3c3c3c;
  color: #ffffff;
  border: 1px solid #3c3c3c;
	border-radius: 8px;
	transition: background-color 0.3s ease; 
	padding: 10px;
	--clr:#789205;
	margin-left: 20px;
	font-size: 12px;
}

.autor:hover {
	border: none;
	background-color: #eeb742;
	letter-spacing: 0.05em;
	box-shadow: 0 0 35px var(--clr);
}